doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
  body
    nav.navbar.navbar-default
      div.container-fluid
        div.navbar-header
        div.collapse.navbar-collapse
          duv.nav.navbar-nav
            ul.nav.navbar-nav
              li
                a(href="/") Home
              li
                a(href="..") Summary

    block content
