{{define "content"}}
{{template "header"}}
{{template "allunitsjs"}}
</head>
<body>
  <div class="container">
        <header>
            <h1>SignalR Service Performance Report Summary</h1>
        </header>
	<div style="margin: 0 auto;">
            <ul class="tabs" data-persist="true">
{{template "tablist"}}
	    </ul>
	    <div class="tabcontents">
{{template "tabcontents"}}
	    </div>
        </div>
        <div class="tabcontents">
          <div class="content">
              <a href='error/index.html'>Error statistic details</a>
          </div>
        </div>
        <footer>
                <p>copyright &copy; DevDiv@microsoft.com</p>
        </footer>
  </div>
</body>
</html>
{{end}}
