{{define "content"}}
{{template "header"}}
{{template "allunitsjs"}}
</head>
<body>
  <div class="container">
        <header>
            <h1>SignalR Service Performance Report Summary</h1>
        </header>
	<div class="wrapper clearfix">
          <div class="content">
                <section>
                    <h2>Summary</h2>
		    <ul>
			<li>SignalR Service Perf Report</li>
		    </ul>
		    <b>1s latency</b>
		    <div>
			<ul>
{{template "allunits1scharts"}}
			</ul>
		    </div>
                </section>
          </div>
        </div>

        <footer>
                <p>copyright &copy; DevDiv@microsoft.com</p>
        </footer>
  </div>
</body>
</html>
{{end}}
