{{define "content"}}
{{template "header"}}
</head>
<body>
  <div class="container">
        <header>
            <h1>SignalR Service Performance Report Summary</h1>
        </header>
	<div class="wrapper clearfix">
          <div class="content">
                <section>
                    <h2>Summary</h2>
{{template "body"}}
                </section>
          </div>
        </div>
{{template "footer"}}
{{end}}
