/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.modalCss {
  width: 90%;
  background-Color: "DodgerBlue";
  max-width: none!important;
}
.configCss {
  font-size: large;
  color: chocolate;
}